# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.venv/
venv/

# Jupyter/VS Code
.ipynb_checkpoints/
.vscode/

# OS
.DS_Store
Thumbs.db

# Environment & secrets
.env
project.env
.streamlit/secrets.toml

# Local data caches
*.cache/

# Hugging Face
.huggingface/token

# Streamlit
.streamlit/**/credentials.toml
